/* **************************************************************** */
/* Global */
/* **************************************************************** */
* {
    margin: 0px;
    padding: 0px;
}

/* **************************************************************** */
/* Element styles */
/* **************************************************************** */
:root {
    font-family: 'Open Sans', sans-serif;
    background-color: #c1c1c1;
}

header {
    background-color: #ffddc0;
    padding: 14px 0;
    text-align: center;
}

h1 {
    font-size: 2.8em;
    font-weight: 400;
    line-height: 1.1;
}

input[type=range] {
    background: transparent;
    height: 32px;
    width: 100%;
    -webkit-appearance: none;
  }

  input[type=range]::-moz-range-track {
    background: #333333;
    border: none;
    border-radius: 12px;
    width: 100%;
    height: 8px;
    cursor: pointer;
    animate: 0.2s;
  }

  input[type=range]::-moz-range-thumb {
    background: #c1c1c1;
    border: 2px solid #555555;
    border-radius: 4px;
    height: 12px;
    width: 24px;
    cursor: pointer;
  }

  input[type=range]::-webkit-slider-runnable-track {
    background: #333333;
    border: none;
    border-radius: 12px;
    width: 100%;
    height: 8px;
    cursor: pointer;
    animate: 0.2s;
  }

  input[type=range]::-webkit-slider-thumb {
    background: #c1c1c1;
    border: 2px solid #555555;
    border-radius: 4px;
    height: 16px;
    width: 24px;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4px;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
  }
  
  input[type=range]::-ms-track {
  }

  input[type=range]::-ms-fill-lower {
  }

  input[type=range]::-ms-fill-upper {
  }

  input[type=range]::-ms-thumb {
  }

  input[type=range]:focus::-ms-fill-lower {
  }

  input[type=range]:focus::-ms-fill-upper {
  }

/* **************************************************************** */
/* Classes */
/* **************************************************************** */
.alive {
    background-color: lightgray;
    border: 4px solid lightgray;
}

.cell {
    height: 12px;
    width: 12px;
}

.clear {
    clear: both;
}

.dead {
    background-color: #222222;
    border: 4px solid #222222;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.game-parameter-container {
    margin: 0 auto;
    height: fit-content;
    width: 384px;
}

.game-parameter-container label {
    font-size: 1.1em;
}

.game-parameter-container input {
    text-align: right;
    width: 180px;
}

.slider-label {
    font-size: .9em;
    font-weight: 600;
    margin: auto 0 auto 8px;
}

/* **************************************************************** */
/* IDs */
/* **************************************************************** */
#game-cells {
    margin: 20px auto;
    text-align: center;
    min-width: 384px;
    width: fit-content;
}

#game-controls {
    background-color: #333333;
    color: #fff;
    display: flex;
    font-size: 1.1em;
    margin: 20px auto;
    justify-content: center;
    padding: 10px;
}

#game-controls button {
    background-color: #c1c1c1;
    border: 2px solid #c1c1c1;
    border-radius: 4px;
    color: #333333;
    cursor: pointer;
    font-weight: 600;
    margin: auto 3px;
    padding: 4px 0px;
    width: 64px;
}

#game-controls button:disabled {
    color: #555555;
}

#game-controls button:hover:enabled {
    border: 2px solid #c1c1c1;
    background-color: #333333;
    color: #c1c1c1;
}

#game-controls .running-button {
    background-color: white;
    border: 2px solid white;
}

#game-grid {
    display: inline-grid;
    gap: 8px;
}

#game-parameters {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;
    margin: 0 auto;
    width: fit-content;
}

#game-parameters > div {
    display: flex;
}

#generation {
    margin: auto 10px auto 0px;
    width: 130px;
}

#generation * {
    margin: auto 2px;
}

#generation span {
    margin: 0;
}

#logo-container {
    background-image: url('./assets/desert_life_logo.webp');
    background-size: 384px 201px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
    width: 384px;
    /* The bottom of the image is intentionally cropped. */
    height: 196px;
    position: relative;
    text-align: center;
    margin: 0 auto;
}

#logo-text {
    bottom: -.12em;
    color: #ffddc0;
    font-family: 'Marcellus', serif;
    position: absolute;
    text-shadow: 0 0 .8em black;
    width: 100%;
}