/* **************************************************************** */
/* Global */
/* **************************************************************** */
* {
    margin: 0px;
    padding: 0px;
}

/* **************************************************************** */
/* Element styles */
/* **************************************************************** */
:root {
    font-family: 'Open Sans', sans-serif;
    background-color: #c1c1c1;
}

header {
    background-color: #ffddc0;
    padding: 14px 0;
    text-align: center;
}

h1 {
    font-size: 2.8em;
    font-weight: 400;
    line-height: 1.1;
}

/* **************************************************************** */
/* Classes */
/* **************************************************************** */
.alive {
    background-color: lightgray;
    border: 4px solid lightgray;
}

.cell {
    height: 12px;
    width: 12px;
}

.dead {
    background-color: #222222;
    border: 4px solid #222222;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* **************************************************************** */
/* IDs */
/* **************************************************************** */
#game-container {
    margin: 0 auto 10px auto;
    text-align: center;
    min-width: 384px;
    width: fit-content;
}

#game-controls {
    background-color: #333333;
    color: #fff;
    display: flex;
    font-size: 1.1em;
    justify-content: center;
    padding: 10px;
}

#game-controls button {
    background-color: #c1c1c1;
    border: 2px solid #c1c1c1;
    border-radius: 4px;
    color: #222222;
    cursor: pointer;
    font-weight: 600;
    margin: auto 3px;
    padding: 4px 0px;
    width: 64px;
}

#game-controls button:disabled {
    color: #555555;
}

#game-controls button:hover:enabled {
    border: 2px solid #222222;
}

#game-controls .running-button {
    background-color: white;
    border: 2px solid white;
}

#game-controls .running-button:hover {
    border: 3px solid #333333;
}

#game-grid {
    display: inline-grid;
    gap: 8px;
    margin: 25px auto;
}

#generation {
    display: inline;
    margin: auto 10px auto 0px;
    width: 130px;
}

#generation * {
    margin: auto 2px;
}

#generation span {
    margin: 0;
}

#logo-container {
    background-image: url('./assets/desert_life_logo.webp');
    background-size: 384px 201px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
    width: 384px;
    /* The bottom of the image is intentionally cropped. */
    height: 196px;
    position: relative;
    text-align: center;
    margin: 0 auto;
}

#logo-text {
    bottom: -.12em;
    color: #ffddc0;
    font-family: 'Marcellus', serif;
    position: absolute;
    text-shadow: 0 0 .8em black;
    width: 100%;
}